# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# https://developer.twitter.com/en/portal/projects/1593186244728594434/apps/26062883/keys
#Consumer Keys
TWITTER_APIKEY=xxx
TWITTER_APIKEY_SECRET=xxx

# Authentication Tokens
## -- Bearer Token
TWITTER_BEARER_TOKEN=xxx
## -- Access Token and Secret
TWITTER_ACCESS_TOKEN=xxx
TWITTER_ACCESS_TOKEN_SECRET=xxx

# OAuth 2.0 Client ID and Client Secret
TWITTER_CLIENTID=xxx
TWITTER_CLIENTSECRET=xxx

URL_CALLBACK=http://localhost:3000/api/tweets/callback

proxy_enabled=false
APP_HTTP_PROXY=

# DEBUG=*

COOKIE_SECRET=ThisIsTheCookieS3cr3t